

@media (min-width: 1920px){
	
	.gallery-photo-item .photo-thumb img{
		width: 100%;
	}
	.gallery-photo-item {
		 width: 16.66666%; 
		 margin-bottom: -4px;
	}
	#gallery .gallery span.gallery-icon {
		top: 40% !important;
	}
}
@media (min-width: 1282px){
	.gallery-photo-item .photo-thumb img{
		width: 100%;
	}
	.gallery-photo-item {
		 width: 16.66666%; 
		 margin-bottom: -4px;
	}
	#gallery .gallery span.gallery-icon {
		top: 35%;
	}
}
@media (max-width: 1200px){
#info .info-left img{
	padding-bottom:15px;	
}
#content ul li{
	max-width:310px;
	min-height:203px;		
}
#content .fa-search{
	left:147px;
}
.artist-item-inner{
	width:205px;	
}
.artist-item-inner .fa-flickr{
	display:none;	
}
.navbar-nav > li > a {
	padding:0 8px;
}
}

@media (max-width: 992px){
	
	.no-left-padding {
		padding-left:0px;
	}

	.navbar-nav > li{
		padding:0;	
	}
	.navbar-nav > li > a {
		font-size: 14px;
	}
	.btn-concert-registration {
		font-size: 18px;
	}
	#header-slider .item .title-lines span, 
	#header-slider .item .title span {
		font-size: 36px;
	}
	.owl-theme .owl-controls .owl-buttons div{
	   border: none;
	}
	.owl-theme .owl-controls .owl-buttons div:hover{
	   color:#ff2a70;
	   background: none;
	}
	#content ul li{
		width:310px;
		min-height:203px;
		margin:0 auto;
		float:none;	
		display:block;	
	}
	#content, #contact{
		background-size:cover;	
	}
	#content{
		text-align:center;	
	}
	#content .fa-search{
		top:115px;
	}
	#consult h1{
		font-size:26px;
		line-height:35px;	
	}
	#testimonial, #footer-contact{
		background-size:cover;	
	}
	.artist-item-inner{
		width:92% !important;	
	}
	.carousel-inner{
		overflow:hidden;
		height:510px !important;	
	}
	.artist-item-inner{
		bottom:-198px;	
	}
	.artist-item:hover .artist-item-inner{
		transform:translate3d(0px,-198px,0px);
	}
	#content li{
		margin-bottom:15px !important;	
	}
	#services h2 {
		font-weight: normal;
		font-size: 26px;
	}
	#club-form h1 {
		font-size: 26px;
	}
	#club-form P {
		font-size: 14px;
	}
	.profile-box {
		margin-bottom: 30px;
	}
	#club-profiles .profle-box-right h2 {
		font-size: 36px;
	}
	#club-profiles .profle-box-right h3 {
		font-size: 20px;
		padding:8px 0; 
	}
	#club-profiles .profle-box-right p {
		font-size: 18px;
		padding-bottom: 30px;
	}
	#club-profiles .profle-box-right .profile-info p {
		font-size: 12px;
	}
	#club-profiles .profle-box-right .profile-info h3  {
		font-size: 18px;
	}
	.profile-info img {
		display: inline-block;
	}

	.blog-slider {
		margin-bottom: 100px;
	}
	.tab-content {
		text-align: center;
	}
	#blogs .tab-content img {
		width: 100%;
	}

	#blogs .event-time .fa {
		right: 46px;
	}

	#blogs .event-detail .event-detail-img {
		width: 36%;
	}
	.footer-info img {
		margin-bottom: 35px;
	}
	#footer p.footer-text {
		margin-top: 10px;
		font-size: 16px;
		line-height: 30px;
	}
	.footer-info {
		 border-bottom:1px solid rgba(255,255,255,0.1);
	}
	.eq {
		height: 72px;
		margin-left: 25px;
	}	
}
@media (max-width: 800px){
	.owl-theme .owl-controls .owl-buttons .owl-next  {
		right:-20px;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev  {
		left:-20px;
	}
}
@media (max-width: 768px){
	
	.owl-theme .owl-controls .owl-buttons div {
		width:40px;
		height:40px;
		line-height:40px;
		font-size:14px;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next  {
		right:-10px;
	}
	.owl-theme .owl-controls .owl-buttons .owl-prev  {
		left:-5px;
	}

.contact-left{
	padding-bottom:30px;	
}
.registerForm input[name="name"], .registerForm input[name="email"],.registerForm input[type="submit"], .footer-contact-form input[type="text"], .footer-contact-form input[type="email"], .footer-contact-form input[type="submit"], .footer-contact-form textarea{
	width:100%;	
}

#consult a{
	width:300px;	
}
#banner h2 {
    border: 2px solid #fff;
    color: #fff;
    font-family: "Slabo 27px";
    font-size: 32px;
	height:auto;
    line-height: 33px;
    margin: 0 auto;
    width: 271px;
}
#packages .package-box{
	margin-bottom:20px;
}

#testimonial p{
	width:400px;	
}
.footer-contact-form{
	padding-bottom:30px;	
}
.artist-item-inner{
	width:92% !important;
}
.artist-item:hover .artist-item-inner{
	transform:translate3d(0px,-300px,0px);
}
.navbar-nav > li {
    padding: 10px 0;
}
#header nav{
	text-align:left !important;
}
.navbar-nav{
	float:left !important;	
}
#banner h1{
	font-size:26px;	
}
#banner h2{
	font-size:20px;	
	width:283px;
}

}
@media (max-width: 640px) {
	#header nav {
		padding-top: 0px;
	}
	#header ul.nav {
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	.navbar-nav > li {
		width: 100%;
	}
	#header .header-right {
		padding-top: 5px;
	}
	#header .header-right .social {
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.navbar-toggle {
		margin-right: 45%;
	}
	.logo-img {
		margin-left: 15px;
	}
	#header-slider .item {
		margin-top: 100px;
	}
	#header-slider .item .title-lines span,
	#header-slider .item .title span {
		font-size: 22px;
	}
	.owl-theme .owl-controls .owl-buttons div {
		border: none; 
	}
	.owl-theme .owl-controls .owl-buttons div:hover {
		background: transparent;
		color: #FF2A70;
	}
	#banner .banner-inner a.btn {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.gallery-photo-item {
		width: 50%;
	}
	.profile-box {
		text-align: center;
	}
	.col-md-6.col-sm-6.profile-box-left.flip-container.text-center{
		display: inline-block;
		margin-bottom: 20px;
	}
	#blogs .event-time p {
		font-size: 18px;
	}
	#blogs .event-time h2 {
		font-size: 26px;
	}
	#reservation .control-label {
		text-align: center;
	}
	.input-field {
 	   padding-right:0px; 
	}
	.reservation-form label {
		background: transparent;
	}
	.btn-booking {
		margin-left: 2%;
	}

}
@media (max-width: 480px){
	.navbar-toggle {
		margin-right: 42%;
	}
	.logo-img {
		margin-left: 30px;
	}
	#header .header-right {
		padding-top: 0px;
	}
	#header nav {
		padding-top: 0px;
	}
	#header-slider .item {
		margin-top: 100px;
	}
	#header-slider .item .title-lines span,
	#header-slider .item .title span {
		font-size: 22px;
	}
	.owl-theme .owl-controls .owl-buttons div {
		border: none; 
	}
	.owl-theme .owl-controls .owl-buttons div:hover {
		background: transparent;
		color: #FF2A70;
	}
	#banner .banner-inner a.btn {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.gallery-photo-item {
		width: 50%;
	}
	#testimonial p{
		width:300px;	
	}
	.artist-item-inner{
		bottom:-97px;	
		width:93% !important;
	}
	.artist-item:hover .artist-item-inner{
		transform:translate3d(0px,-200px,0px);
	}
	.profile-box {
		text-align: center;
	}
	.col-md-6.col-sm-6.profile-box-left.flip-container.text-center{
		display: inline-block;
		margin-bottom: 20px;
	}
	#blogs .event-time .fa {
		left: 35px;
	}
	#blogs .blog-slider li {
		padding-bottom: 22px;
	}
	.borderLeft {
		left: 65px;
	}
	#blogs .bx-next, #blogs .bx-prev {
		left: 47px;
	}
	#blogs .event-time p {
		font-family: 8px;
		font-weight: normal;
	}
	#blogs .event-time h2 {
		font-size: 14px;
	}
	#blogs .event-detail {
		height: auto;
		padding: 5px;
		/* padding-bottom: 15px; */
		text-align: center;
	}
	#blogs .event-detail .fa-caret-left {
		top: 81px;
	}
	#blogs .event-detail h2 a, #blogs .event-detail p {
		font-weight: normal;
		font-size: 12px;
		padding-bottom:0px; 
	}
	#blogs .event-detail p {
		padding: 5px;
	}
	#blogs .event-detail .event-detail-img {
		width: 45%;
		margin-left: 82px;
		margin-bottom: 5px;
	}
	#blogs .event-time .fa {
		top: 85px;
		left: 45px;
	}
	#blogs .bx-next, #blogs .bx-prev {
		left: 56px;
	}
	#blogs .tab-content h2 {
		font-size: 22px;
	}
	#blogs .tab-content .overlay h3 {
		font-size: 12px;
	}
	#blogs .tab-content h3 {
		font-size: 14px;
	}
	#blogs .tab-content p {
		font-size: 12px;
	}
	#blogs .event-detail {
		padding: 8px;
	}
	#blogs .event-detail .event-detail-inner {
		width: 100%;
		padding: 5px;
	}
	#blogs .event-time p {
		font-size: 10px;
	}
	#reservation .control-label {
		text-align: center;
	}
	.btn-booking {
		margin-left: 2%;
	}
	.input-field {
 	   padding-right:0px; 
	}
	.reservation-form label {
		background: transparent;
	}
}

@media (max-width: 360px){

	.logo-img {
		margin-left:20px;
	}
	#header.affix img {
		margin-left: 20px;
	}
	#header-slider {
	  min-height: 400px;
	}

	#header-slider .item {
		margin-top: 100px;
		min-height: 400px;
	}
	#banner .banner-inner h1  {
		font-size:36px;
	}
	#header-slider .item h3 {
		font-size: 42px;
	}
	.owl-theme .owl-controls .owl-buttons div{
	   border: none;
	}
	.owl-theme .owl-controls .owl-buttons div:hover{
	   color:#ff2a70;
	   background: none;
	}
	.concert-registration {
		margin-top:0px;
	}
	#banner .banner-inner a.btn {
		margin-top: 10px;
	}
	.btn-concert-register, .btn-concert-play  {
		margin-top: 20px;
	}
	.title-lines span:before, .title-lines span:after {
		width:0px;
	}
	.is-countdown  {
		font-size:18px;
	}
	#banner .banner-inner a.btn  {
		margin-bottom: 0px;
	}
	.tabs-style-linebox nav ul li {
		margin: 0 0.2em;
		padding:0px 10px;
	}
	.tabs nav span {
		font-size: 0.75em;
		font-weight: normal;
	}
	#events .event-box-left p {
		padding-top: 22px;
	}
	#testimonial p{
		width:300px;	
	}
	.artist-item-inner{
		bottom:-198px;	
		width:91% !important;
	}
	.artist-item:hover .artist-item-inner{
		transform:translate3d(0px,-200px,0px);
	}
	.banner-inner {
		text-align: center;
	}
	#banner .banner-inner h1 {
		font-size: 36px;
	}
	
	#banner .banner-inner h2{
		font-size:26px;	
		width:283px;
	}
	#header nav {
		padding-top: 0px;
	}
	.navbar-default .navbar-toggle {
		margin-right: 125px;
	}
	#header ul.nav {
		text-align: center;
	}
	#header .header-right {
		padding-top: 5px;
	}
	#header .header-right .social {
		padding-right: 0px;
		padding-bottom: 0px;
	}
	.gallery-photo-item {
		width: 100%;
	}

	#services h1 {
		font-size: 36px;
	}
	#services h2 {
		font-size: 16px;
		font-weight:normal; 
	}
	.servicebox {
		margin-bottom: 25px;
		width: 100%;
		margin-left: 8px;
	}

	.club-form {
		margin-bottom: 20px;
	}

	#club-form h1 {
		font-size: 26px;
	}
	#club-form p {
		font-size: 12px;
	}
	
	#events h1 {
		font-size: 36px;
	}
	#events .event-box-left {
		width: 38%;
	}
	#events .event-box-left h2 {
		font-size: 36px;
		line-height: 45px;
	}
	#events .event-box-right {
		width: 62%;
	}
	#events .event-box .event-box-bottom h2 {
		font-size: 18px;
	}

	#club-profiles h1 {
		font-size: 26px;
		padding-bottom: 90px;
	}
	.profile-box {
		text-align: center;
	}
	.profile-box-left img {
		display: inline-block;
		margin-bottom: 10px;
	}

	.borderLeft {
		left: 54px;
		height: 270px;
	}
	#blogs .event-time .fa {
		left: 35px;
	}
	#blogs .blog-slider li {
		padding-bottom: 75px;
	}
	#blogs .bx-next, #blogs .bx-prev {
		left: 47px;
	}
	#blogs .event-time p {
		font-family: 8px;
		font-weight: normal;
	}
	#blogs .event-time h2 {
		font-size: 14px;
	}
	#blogs .event-detail {
		height: auto;
		padding: 5px;
		padding-bottom: 15px;
		text-align: center;
	}
	#blogs .event-detail h2 a, #blogs .event-detail p {
		font-weight: normal;
		font-size: 12px;
		padding-bottom:0px; 
	}
	#blogs .event-detail p {
		padding: 5px;
	}
	#blogs .event-detail .event-detail-img {
		width: 50%;
		margin-left: 55px;
		margin-bottom: 5px;
	}
	#blogs .tab-content h2 {
		font-size: 22px;
	}
	#blogs .tab-content .overlay h3 {
		font-size: 12px;
	}
	#blogs .tab-content h3 {
		font-size: 14px;
	}
	#blogs .tab-content p {
		font-size: 12px;
	}
	#blogs .event-detail .event-detail-inner {
		width: 100%;
		padding: 5px;
	}
	#blogs .event-time p {
		font-size: 10px;
	}

	#reservation h1 {
		font-size: 36px;
	}
	#reservation p {
		font-size: 20px;
	}
	#club-profiles .profile-box-left {
		width: 100%;
		margin-bottom: 15px;
	}
	#dj-1, #dj-2 {
		margin-left: 20px;
	}
	.btn-booking {
		margin-left: 0px;
	}
	#reservation .control-label {
		text-align: center;
		padding-top: 5px;
	}
}
@media (max-width: 320px){
	.navbar-default .navbar-toggle {
		margin-right: 108px;
	}
	#events .event-box-left h2 {
		font-size: 22px;
	}
	#events .month {
		font-size: 26px;
	}
	#events .event-box-left h3 {
		font-size: 18px;
		line-height: 30px;
	}
	#events .event-box-left p {
		padding-top: 15px;
		padding-bottom:8px; 
	}
	#blogs .event-detail h2 a, #blogs .event-detail p {
		font-size: 10px;
	}
	.btn-booking {
		padding:20px 40px; 
	}
	#blogs .tab-content .share h4 {
		font-size: 12px;
	}
}