.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div
{
	font-weight:400
}

.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div
{
	font-size:10px
}

@media print 
{  
	.gm-style .gmnoprint, .gmnoprint 
	{    
		display:none  
	}
}

@media screen 
{  
	.gm-style .gmnoscreen, .gmnoscreen 
	{    
		display:none  
	}
}

gm-style 
{
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
      
.gm-style img 
{ 
	max-width: none; 
}